/build/
/examples/nbproject/private/
/koevoet-examples/nbproject/private/
/koevoet-examples/build/
/koevoet-bou/nbproject/private/
/bou-examples/nbproject/private/
/bou-examples/build/
/bou-examples/conf
/bou/nbproject/private/
/jock-examples/nbproject/private/
/jock/nbproject/private/
/jock-examples/build/
/jock-examples/dist/
/jock-examples/src/js/lib/greensock/