/build/
/examples/nbproject/private/
/koevoet-examples/nbproject/private/
/koevoet-examples/build/
/koevoet-bou/nbproject/private/
/bou-examples/nbproject/private/
/bou-examples/build/
/bou-examples/conf
