<div class="container">

    <h1>Calendar Demo</h1>

    <button id="addSelected" type="button" class="btn btn-primary btn-xl">Add events</button>
    <button id="removeAll" type="button" class="btn btn-danger btn-xl">Remove events</button>

    <br>
    <br>

    <div id='calendar'></div>
</div>

<!-- Confirm dialog -->
<!--
<div class="modal fade" id="confirmDialog" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Confirm</h4>
            </div>
            <div class="modal-body">
                Are you sure?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" id="confirm">Ok</button>
                <button type="button" class="btn btn-default" data-dismiss="modal" id="cancelConfirm">Cancel</button>
            </div> 
        </div>
    </div>
</div>
-->