<div class="title-wrapper">
                <div class="title">
                    <img id="logo" src="images/logo2.png"/>
                    <h1>SP<span class="highlight">AMD</span></h1>
                    <h2>Single Page <span class="off-color">application toolbox for</span> <span class="highlight">AMD</span></h2>
                    <a class="download-link" href="https://github.com/sabob/spamd/releases/download/0.0.1/spamd-0.0.1.zip" id="main-download">
                        <span class="download-icon icon-download-alt icon-2x"></span>
                        <span class="download-content">Download SPAMD <span class="version">v0.0.1</span></span>

                    </a>
                    <h3 class="slogan">Sometimes the best framework is no framework at all!</h3>
                    
                </div>
            </div>