<div class="row">
    <div class="span12">
        <h3 class="sectionHeading">Client Search</h3>

        <div id="feedback">
        </div>

        <table id="table" class="table">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>

                    <th>
                        City
                    </th>

                    <th>
                        Action
                    </th>
                </tr>

            </thead>

            <tbody>
                {{#each clients}}
                <tr>
                    <td>{{name}}</td>
                    <td>{{city}}</td>
                    <td>
                        <a href="clientedit?id={{id}}" {{action @onEdit}} >Edit</a> |
                        <a href="" {{action @onDelete}} >Delete</a>

                    </td>
                </tr>
                {{/each}}

            </tbody>
        </table>
    </div>
</div>
