<div class="container">

    <h1>Welcome to Jock Examples</h1>
    
    <div id="testo">
    </div>


    <div id="radios">
        <input id="fast" name="options" type="radio" checked>
        <label for="fast">Fast</label>

        <input id="easy" name="options" type="radio">
        <label for="easy">Easy</label>

        <input id="modular" name="options" type="radio">
        <label for="modular">Modular</label>

        <input id="powerful" name="options" type="radio">
        <label for="powerful">Powerful</label>

        <input id="flexible" name="options" type="radio">
        <label for="flexible">Flexible</label>
        

    </div>
        <button id="down">Download pdf</button>

    <div id="isotope">

        <div class="searchBox set1-color1 easy" ng-click="clientEdit()">
            <div class="searchBoxIcon"><i class="fa fa-user fa-5x"></i>
            </div>
            <div class="searchBoxLarge">New Client</div>
            <span class="home-text headingSmaller">Create a new client and add their personal details</span>
        </div>

        <div class="searchBox set1-color4 modular" ng-click="searchClients()">
            <div class="searchBoxIcon"><i class="fa fa-users fa-5x"></i>
            </div>
            <div class="searchBoxLarge">Existing Clients</div>
            <span class="home-text headingSmaller">Manage your existing clients personal details.</span>
        </div>


        <div class="searchBox set1-color2 easy">
            <div class="searchBoxIcon"><i class="fa fa-edit fa-5x"></i>
            </div>
            <div class="searchBoxLarge">New Quote</div>
            <span class="home-text headingSmaller">Create a new Discovery quotation.</span>
        </div>


        <div class="searchBox set1-color3 modular" ng-click="searchQuotes()">
            <div class="searchBoxIcon"><i class="fa fa-copy fa-5x"></i>
            </div>
            <div class="searchBoxLarge">Existing Quotes</div>
            <span class="home-text headingSmaller">Manage your existing Discovery quotations.</span>
        </div>

        <div class="searchBox set1-color1 easy" ng-click="clientEdit()">
            <div class="searchBoxIcon"><i class="fa fa-user fa-5x"></i>
            </div>
            <div class="searchBoxLarge">New Client</div>
            <span class="home-text headingSmaller">Create a new client and add their personal details</span>
        </div>

        <div class="searchBox set1-color4 modular" ng-click="searchClients()">
            <div class="searchBoxIcon"><i class="fa fa-users fa-5x"></i>
            </div>
            <div class="searchBoxLarge">Existing Clients</div>
            <span class="home-text headingSmaller">Manage your existing clients personal details.</span>
        </div>


        <div class="searchBox set1-color2 easy">
            <div class="searchBoxIcon"><i class="fa fa-edit fa-5x"></i>
            </div>
            <div class="searchBoxLarge">New Quote</div>
            <span class="home-text headingSmaller">Create a new Discovery quotation.</span>
        </div>


        <div class="searchBox set1-color3 flexible" ng-click="searchQuotes()">
            <div class="searchBoxIcon"><i class="fa fa-copy fa-5x"></i>
            </div>
            <div class="searchBoxLarge">Existing Quotes</div>
            <span class="home-text headingSmaller">Manage your existing Discovery quotations.</span>
        </div>

        <div class="searchBox set1-color3 powerful" ng-click="searchQuotes()">
            <div class="searchBoxIcon"><i class="fa fa-copy fa-5x"></i>
            </div>
            <div class="searchBoxLarge">Existing Quotes</div>
            <span class="home-text headingSmaller">Manage your existing Discovery quotations.</span>
        </div>

    </div>

    <!--
    <div id="isotope2">
        <div class="item one modular">One</div>
        <div class="item two modular">Two</div>
        <div class="item three">Three</div>
        <div class="item four easy">Four</div>
        <div class="item three easy">Four</div>
        <div class="item four ">Four</div>
        <div class="item four modular">Four</div>
        <div class="item four">Four</div>
        <div class="item four">Four</div>
    </div>-->

</div>
