<div class="container">

    <h1>Customer Edit</h1>

    <div id="feedback"></div>

    <div class="row">
        <div class="form-group col-md-12">
            <form id="form"  role="form" name="form" method="post" action="submit.action">
                <div class="row">
                    <div class="form-group col-md-3">

                        <label for="name">Name</label>
                        <input type="text" class="form-control" id="name" name="name" placeholder="Enter name">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-3">

                        <label for="email">Email</label>
                        <input class="form-control validate[required, custom[email]]" type="text" name="email" id="email" />
                    </div>
                </div>

                <input type="hidden" name="id">

                <div class="row">
                    <div class="form-group col-md-3">
                        <button type="submit" class="btn btn-primary"  {{action click=@save}}>Save</button>
                        <button class="btn btn-default"  {{action click=@back}}>Back</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>